# Análise de Completude da tabela Pagamentos

## 1. Importando as bibliotecas

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2. Lendo o arquivo em Excel e atribuindo a uma variável

In [15]:
pgt = pd.read_excel('STG_PGT.xlsx')
pgt

,ID_STG_PGT,VLR_PGT_FAT,DAT_VCT,COD_MDL,QTD_CLI_CAD_POS,QTD_PGT,ID_FNT_ITT,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,451,515711,16082022,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,26102020,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,24022019,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,24062018,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,20022021,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
...,...,...,...,...,...,...,...,...,...,...
15441,15422,795535,23012023,A04,47,48,67,F,2020-01-16,2020-01-17 17:50:42.746
15442,15423,519,20012018,A99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
15443,15424,140534,26062020,A01,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746
15444,15425,141887,11112024,A01,7,9,67,F,2020-01-16,2020-01-17 17:50:42.746
15445,15426,116296,17032023,A01,11,20,67,F,2020-01-16,2020-01-17 17:50:42.746

## 3. Verificando a completude de todas as colunas, checando se há células vazias.

In [ ]:
cont1, cont2, cont3, cont4, cont5, cont6, cont7, cont8, cont9 = 0, 0, 0, 0, 0, 0, 0, 0, 0
total = len(pgt)
for i in range (len(pgt)):
    if (str(pgt.VLR_PGT_FAT) == ''):
        cont1 += 1
    if (str(pgt.DAT_VCT) == ''):
        cont2 += 1
    if (str(pgt.COD_MDL) == ''):
        cont3 += 1
    if (str(pgt.QTD_CLI_CAD_POS) == ''):
        cont4 += 1
    if (str(pgt.QTD_PGT) == ''):
        cont5 += 1
    if (str(pgt.ID_FNT_ITT) == ''):
        cont6 += 1
    if (str(pgt.DES_TIP_PSS) == ''):
        cont7 += 1
    if (str(pgt.DAT_RSS_FNT_ITT) == ''):
        cont8 += 1
    if (str(pgt.DAT_INC_DBO) == ''):
        cont9 += 1
nulos = cont1 + cont2 + cont3 + cont4 + cont5 + cont6 + cont7 + cont8 + cont9

total, nulos

## 4. Criando o gráfico de Completude

In [ ]:
dados = ['Total', 'Nulos']
valores = [total, nulos]

barlist = plt.bar(dados,[total,nulos])
barlist[0].set_color('#FF8C00')
barlist[1].set_color('#FF0000')

plt.xticks(dados, fontsize=12)
plt.ylabel('Quantidade', fontsize=12)
plt.xlabel('Dados', fontsize=14)
plt.title('Completude dos dados', fontsize=18)

plt.show()